@import url("../fonts/gilory/stylesheet.css"); /* Using a url */

    padding: 0; 
    font-size: 15px;
    font-family: 'Gilroy' !important;
    letter-spacing: 0.5px;
}
a:hover {
    color: inherit; 
    text-decoration: none;
} 
p {
    margin-bottom: 15px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6, p, span, li, a, div{
   font-family: 'Gilroy' !important; 
}
header, footer, main{ 
    display: block;
}
a{
    cursor: pointer;
}
:focus{ 
    outline: 0;
}
button:focus, a:focus{
    outline: none;
}
button{ 
    outline: 0;
    border: none;
} 
img{
    max-width: 100%;
    height: auto;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.selectize-input {
    min-height: 34px;
    height: 42px !important;
    padding: 0px 10px !important;
}
.upload-btn-custom.filter-btn {
    margin-top: 10px;
}
.contact-us-outer .goal-title-outer {
    text-align: center;
}
.contact-left {
    padding-top: 40px;
}
.contact-left-inner i {
    width: 45px;
    height: 45px;
    background-color: #af19f7;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 10px;
}
.contact-us-outer {
    padding-bottom: 90px;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: left 20% top 70%;
    background-size: 38%;
}
.send-message {
    width: 100%;
    padding: 15px;
    background-color: #af19f7;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #af19f7;
    transition: 0.5s all ease-in-out;
}
.send-message i{
    margin-right: 10px;
}
.send-message:hover {
    background-color: transparent;
    color: #af19f7;
}
.contact-us-outer {
    padding-bottom: 100px;
}
.custom-footer {
    padding: 20px 0px;
}

.custom-footer .container.custom-container {
    position: relative;
    padding: 50px 0px;
}
.custom-footer .container.custom-container::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #000;
    margin-left: auto;
    top: 0;
    right: 0;
}
.custom-footer .container.custom-container::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #000;
    margin-left: auto;
    bottom: 0;
    right: 0;
}
.footer-title {
    font-size: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
}
.footer-first ul li a {
    color: #000;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}
.social-links li a i {
    color: #fff;
    font-size: 18px;
    padding: 9px;
}
.social-links li {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: red;
    text-align: center;
    margin: 0px 3px;
}
.social-links li a i.fa.fa-facebook {
    background-color: #3b5999;
}
.social-links li a i.fa.fa-twitter {
    background-color: #55acee;
}
.social-links li a i.fa.fa-google-plus {
    background-color: #dd4b39;
}
.social-links li a i.fa.fa-vine {
    background-color: #00b489;
}
.social-links {
    margin-bottom: 20px;
}
.footer-first span {
    width: 100%;
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.social-links li a i{
    color: #fff;
    font-size: 18px;
    padding:9px;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.footer-first ul li:hover a{
    color: #af19f7;
    text-decoration: none;
}
.footer-first ul li {
    line-height: 30px;
}
.footer-first img {
    margin-bottom: 20px;
}
.footer-first p {
    font-size: 15px;
    margin-bottom: 0;
}
.contact-right input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    box-shadow: 0px 4px 12px 2px #e3e5ea;
}
.contact-right textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    box-shadow: 0px 4px 12px 2px #e3e5ea;
    min-height: 130px;
}
.contact-left-inner span {
    font-weight: 600;
}
.contact-left-inner {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.goal-title-outer p {
    font-size: 19px;
    width: 60%;
    margin: 0 auto 100px auto;
    font-weight: normal;
    line-height: 28px;
}
.goal-title-outer p span {
    color: #af19f7;
}
.contact-us-outer .goal-title-outer .custom-border{
    margin-left: auto;
    margin-right: auto;
}
.head-title {
    font-size: 65px;
    color: #000;
    font-weight: 800;
    line-height: 70px;
    text-transform: capitalize;
    font-family: 'Gilroy' !important;
    margin-bottom: 60px;
}
.our-procedures {
    position: relative;
    background-color: #f9f1fc;
}
.main-heading {
    font-size: 33px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.how-company-work-right p {
    font-size: 19px;
    color: #000;
    font-weight: normal;
    line-height: 26px;
}
.press-pay-btn {
    background-image: linear-gradient(#8d53e2, #9813f8);
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    display: block;
    width: 170px;
    text-align: center;
    padding: 11px;
    border-radius: 20px;
    margin-top: 50px;
    transition: 0.5s all ease-in-out;
}
.press-pay-btn:hover{
    background-image: linear-gradient(#000, #9813f8);
    color: #fff;
    text-decoration: none;
}
.how-company-work-left img {
    width: 85%;
    margin-left: 0;
}
.how-company-work-right p span{
   color: #af19f7;
}
.custom-border {
    border: 1.5px solid #af19f7;
    width: 130px;
    margin-left: 0;
}
.how-company-works {
    padding: 70px 0px;
}
.testimonial-test span {
    font-size: 21px;
    color: #af19f7;
    font-weight: 600;
    margin-top: 5px;
    display: block;
}
.goal-inner {
    padding: 40px 30px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}
.goal-inner p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    min-height: 80px;
}
.testimonial-test {
    padding-top: 60px;
    width: 70%;
    margin: 0 auto;
}
.testimonial-title {
    font-size: 21px;
    color: #000;
    font-weight: 600;
}
.goal-inner:hover {
    background-color: #af19f7;
}
.goal-inner:hover p, .goal-inner:hover .admission-title, .goal-inner:hover h4{
    color: #fff;
}
.hover-img{
    display: none;
}
.goal-inner:hover .hover-img{
    display: block;
    margin:0 auto;
}
.goal-inner:hover .desktop-img{
    display: none;
}
.admission-title {
    font-size: 21px;
    font-weight: 600;
    color: #af19f7;
    margin: 10px 0px;
}
.goal-inner h4 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.main-outer {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 740px;
    background-position: center;
}
.goal-objectives-outer {
    padding: 70px 0px;
    text-align: center;
}
.title-heading-span {
    font-size: 22px;
    text-transform: uppercase;
    color: #af19f7;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    display: block;
}
.container.custom-container {
    margin: 0px auto;
    max-width: 1500px;
}
.banner-inner h1 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.banner-inner {
    width: 100%;
    text-align: center;
    padding-top: 130px;
    color: #fff;
}
.banner-inner p {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px;
}
.banner-inner p span{
   color: #af19f7;
}
.banner-inner h1 span{
   color: #af19f7;
}
.custom-header nav {
    width: 100%;
    padding: 50px 0px;
}
.custom-header .navbar-nav {
    margin-left: auto;
}
.custom-header .navbar-nav li a {
    font-size: 16px !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding:7px 14px !important;
}
.custom-header .navbar-nav li {
    margin: 0px 20px;
}
.custom-header .navbar-nav li.active a{
    border: 1px solid #fff;
}
.custom-header .navbar-nav li:first-child{
    margin-left: 0px;
}
.custom-header .navbar-nav li:last-child{
    margin-right: 0px;
}
.desktop-hover1{
    display: none;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li {
    width: 100%;
    border: 1px solid #000;
    margin: 25px 0px;
    padding: 20px 25px;
    transition: 0.5s all ease-in-out;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li a:hover{
   text-decoration: none;
}
.how-work-li {
    display: flex;
    align-items: center;
}
.how-work-left {
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 100%;
    margin-right: 40px;
    text-align: center;
    padding: 20px 18px;
}
.how-work-right span {
    font-size: 23px;
    color: #000;
    font-weight: 600;
}
.how-work-right p{
    color: #000;
    font-size: 18px;
    margin-bottom: 0px;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active, .nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover {
    background-color: #af19f7;
    color: #fff;
    border-color: #af19f7;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active .how-work-right span, 
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover .how-work-right span{
    color: #fff;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active .how-work-right p,
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover .how-work-right p{
    color: #fff;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active .how-work-left,
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover .how-work-left{
    background-color: #fff;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active .how-work-left .desktop-img1,
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover .how-work-left .desktop-img1{
    display: none;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li.active .how-work-left .desktop-hover1,
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul li:hover .how-work-left .desktop-hover1{
    display: block;
}
.nav.nav-tabs.tabs-left.sideways.how-it-work-ul {
    border: none;
}
.how-work-right {
    width: 85%;
}
.procedure-left {
    padding-left: 20%;
}


@media only screen and (max-width: 1366px) {
.container.custom-container {
    max-width: 1140px;
} 
.main-outer {
    min-height: 500px;
}
.banner-inner {
    padding-top: 60px;
}
.head-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 30px;
}
.goal-inner {
    padding: 30px 20px;
}
.testimonial-test {
    padding-top: 40px;
    width: 90%;
}
.how-company-works .row {
    display: flex;
    align-items: center;
}
.how-company-work-left img {
    width: 95%;
}
.procedure-left {
    padding-left: 6%;
}
}
