
{% extends 'PowerBI/base.html'%}
{% block content %}
    <h1>Team Members</h1>
    {% for team in team %}
        <h2>{{ team.Member }}</h2>
        <p> {{ team.Title }}</p>
    {% endfor %}
{% endblock content %}
