{% extends 'PowerBI/base.html'%}
{% block content %}
    <h1>Dashboard</h1>
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=bd36df17-b2c8-413a-be3f-e707dfddd918&autoAuth=true&ctid=915034d8-7ff6-4998-994a-dc7168ce3a29&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtYi1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
{% endblock content %}