http://localhost:8000/admin_dashboard/table/{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--     <style type="text/css">
        .progress-bar {
height : 35px;
width : 250px;
border : 2px solid darkblue;
}

.progress-bar-fill {
height : 100%;
width : 0%;
background : lightblue;
display : flex;
align-items : center;
transition : width 0.25m;
}

.progress-bar-text {
margin-left : 10px;
font-weight : bold;
}
    </style> -->
    {% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tables</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data" id="fileuploadform">
                                    {% csrf_token %}
                                    <label for="file1"> Upload file</label>
                                    <select name="file_name">
                                        <option disabled="True">Select file name</option>
                                        <option value="Armor">Armor Start</option>
                                        <option value="VDOC_ADP"> VDOC_ADP </option>
                                        <option value="Claims"> Claims </option>
                                        <option value="ICD10"> ICD10 </option>
                                        <option value="CPT"> CPT Codes </option>
                                        <option value="DRG"> DRG </option>

                                    </select>
                                    <input type="file" id="csvfile" name="file">
                                    <small>Only accepts csv and xlsx files</small>
                                    <button type="submit">Upload</button>
                                </form>
                            </div>
<!--                             <div class="progress-bar" id="progressBar">
    <div class="progress-bar-fill">
        <span class="progress-bar-text">0%</span>
    </div>
</div> -->
                            <div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div>
                            <div class="card-header">
                                <h5>Armor Strat Table</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>ID Number</th>
                                                <th>Score</th>
                                                <th>Index</th>
                                                <th>WsScore</th>
                                                <th>Birth Date</th>
                                                <th>Age</th>
                                                <th>Today</th>
                                                <th>Age Weight</th>
                                                <th>Final Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in armor %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td><a href="/tablefulldata/{{data.id_number}}" target="_blank">{{data.id_number}}</a></td>
                                                <td>{{data.score}}</td>
                                                <td>{{data.index}}</td>
                                                <td>{{data.wscore}}</td>
                                                <td>{{data.brth_dt}}</td>
                                                <td>{{data.age}}</td>
                                                <td>{{data.today}}</td>
                                                <td>{{data.age_weight}}</td>
                                                <td>{{data.final_score}}</td>
                                                <!-- <td>view more</a></td> -->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <center>
                        {% include "pagination.html" with page=armor %}
                           <!--  <div class="pagination-div pagination">
                              <ul class="pagination-custom">
                                <li class="active">
                                {% if all_data.has_previous %}
                                <a href="/admin_dashboard/table/?page={{ all_data.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                                {% endif %}
                                </li>
                                <li class="current">Page {{ all_data.number }} of {{ all_data.paginator.num_pages }}</li>
                                <li>
                                {% if all_data.has_next %}
                                <a class="pagination_next" href="/admin_dashboard/table/?page={{ all_data.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                                {% endif %}
                                </li>
                              </ul>
                            </div> -->
                          </center>
                    </div>
                
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {

    $('form').on('submit', function(event) {

       event.preventDefault();
        // const myForm = document.getElementById('fileuploadform');
        // const inpFile = document.getElementById('csvfile');
        // const progressBarFill = document.querySelector("#progressBar > .progress-bar-fill");
        // const progressBarText = progressBarFill.querySelector(".progress-bar-text");

        // myForm.addEventListener("submit", uploadFiles);

        // function uploadFiles(e) {
        //     e.preventDefault();

        //     const xhr = new XMLHttpRequest();
        //     xhr.onreadystatechange = function() {
        //         if (xhr.readyState == XMLHttpRequest.DONE) {
        //             alert(xhr.responseText);
        //         }
        //     }
        //     xhr.open("POST", '/admin_dashboard/table/');

        //     xhr.upload.addEventListener("progress", e => {
        //         console.log(e);
        //         const percent = e.lengthComputable ? (e.loaded/ e.total) * 100 : 0;

        //         progressBarFill.style.width = percent.toFixed(2) + '%';
        //         progressBarText.textContent = percent.toFixed(2) + '%';
        //     });


        //   //  xhr.setRequestHeader("Content-Type", "multipart/form-data");
        //     xhr.send(new FormData(myForm));
        // }


        var formData = new FormData(myForm);
        // var formData = new FormData($('form'));
        console.log(formData)

        $.ajax({
            xhr : function() {
                var xhr = new window.XMLHttpRequest();
                // console.log(xhr)
                xhr.upload.addEventListener('progress', function(e) {

                    if (e.lengthComputable) {

                        console.log('Bytes Loaded: ' + e.loaded);
                        console.log('Total Size: ' + e.total);
                        console.log('Percentage Uploaded: ' + (e.loaded / e.total))

                        var percent = Math.round((e.loaded / e.total) * 100);
                        console.log(percent);

                        $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');

                    }

                });

                return xhr;
            },
            type : 'POST',
            url : '/admin_dashboard/table/',
            data : formData,
            processData : false,
            contentType : false,
            success : function() {
                alert('File uploaded!');
            }
        });

   });

});
</script>
{% endblock javascripts %}























{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style type="text/css">
        .progress-bar {
height : 35px;
width : 250px;
border : 2px solid darkblue;
}

.progress-bar-fill {
height : 100%;
width : 0%;
background : lightblue;
display : flex;
align-items : center;
transition : width 0.25m;
}

.progress-bar-text {
margin-left : 10px;
font-weight : bold;
}
    </style>
    {% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tables</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data" id="fileuploadform">
                                    {% csrf_token %}
                                    <label for="file1"> Upload file</label>
                                    <select name="file_name">
                                        <option disabled="True">Select file name</option>
                                        <option value="Armor">Armor Start</option>
                                        <option value="VDOC_ADP"> VDOC_ADP </option>
                                        <option value="Claims"> Claims </option>
                                        <option value="ICD10"> ICD10 </option>
                                        <option value="CPT"> CPT Codes </option>
                                        <option value="DRG"> DRG </option>

                                    </select>
                                    <input type="file" id="csvfile" name="file" onchange="uploadFile()">
                                    <small>Only accepts csv and xlsx files</small>
                                    <button type="submit">Upload</button>
                                    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                                      <h3 id="status"></h3>
                                      <p id="loaded_n_total"></p>
                                </form>
                            </div>
                            <!-- <div class="progress-bar" id="progressBar">
    <div class="progress-bar-fill">
        <span class="progress-bar-text">0%</span>
    </div>
</div> -->
<!--                             <div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div> -->
                            <div class="card-header">
                                <h5>Armor Strat Table</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>ID Number</th>
                                                <th>Score</th>
                                                <th>Index</th>
                                                <th>WsScore</th>
                                                <th>Birth Date</th>
                                                <th>Age</th>
                                                <th>Today</th>
                                                <th>Age Weight</th>
                                                <th>Final Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in armor %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td><a href="/tablefulldata/{{data.id_number}}" target="_blank">{{data.id_number}}</a></td>
                                                <td>{{data.score}}</td>
                                                <td>{{data.index}}</td>
                                                <td>{{data.wscore}}</td>
                                                <td>{{data.brth_dt}}</td>
                                                <td>{{data.age}}</td>
                                                <td>{{data.today}}</td>
                                                <td>{{data.age_weight}}</td>
                                                <td>{{data.final_score}}</td>
                                                <!-- <td>view more</a></td> -->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <center>
                        {% include "pagination.html" with page=armor %}
                           <!--  <div class="pagination-div pagination">
                              <ul class="pagination-custom">
                                <li class="active">
                                {% if all_data.has_previous %}
                                <a href="/admin_dashboard/table/?page={{ all_data.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                                {% endif %}
                                </li>
                                <li class="current">Page {{ all_data.number }} of {{ all_data.paginator.num_pages }}</li>
                                <li>
                                {% if all_data.has_next %}
                                <a class="pagination_next" href="/admin_dashboard/table/?page={{ all_data.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                                {% endif %}
                                </li>
                              </ul>
                            </div> -->
                          </center>
                    </div>
                
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
function _(el) {
  return document.getElementById(el);
}

function uploadFile() {
  var file = _("csvfile").files[0];
  // alert(file.name+" | "+file.size+" | "+file.type);
  var formdata = new FormData();
  formdata.append("csvfile", file);
  formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  // csrf = $("input[name=csrfmiddlewaretoken]").val();
  // formdata.append("csrf_token", csrf);
  console.log(formdata)
  var ajax = new XMLHttpRequest();
  ajax.upload.addEventListener("progress", progressHandler, false);
  ajax.addEventListener("load", completeHandler, false);
  ajax.addEventListener("error", errorHandler, false);
  ajax.addEventListener("abort", abortHandler, false);
  ajax.open("POST", "/admin_dashboard/table/"); 
  // ajax.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
  ajax.send(formdata);
}

function progressHandler(event) {
  _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
  var percent = (event.loaded / event.total) * 100;
  _("progressBar").value = Math.round(percent);
  _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
}

function completeHandler(event) {
  _("status").innerHTML = event.target.responseText;
  _("progressBar").value = 0; //wil clear progress bar after successful upload
}

function errorHandler(event) {
  _("status").innerHTML = "Upload Failed";
}

function abortHandler(event) {
  _("status").innerHTML = "Upload Aborted";
}
</script>
{% endblock javascripts %}


















{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tables</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data" id="fileuploadform">
                                    {% csrf_token %}
                                    <label for="file1"> Upload file</label>
                                    <select name="file_name">
                                        <option disabled="True">Select file name</option>
                                        <option value="Armor">Armor Start</option>
                                        <option value="VDOC_ADP"> VDOC_ADP </option>
                                        <option value="Claims"> Claims </option>
                                        <option value="ICD10"> ICD10 </option>
                                        <option value="CPT"> CPT Codes </option>
                                        <option value="DRG"> DRG </option>

                                    </select>
                                    <input type="file" id="csvfile" name="file">
                                    <small>Only accepts csv and xlsx files</small>
                                    <button type="submit" id="submitButton">Upload</button>
                                </form>
            <!-- <input type="file" id="uploadImage" name="uploadImage" /> <input
                id="submitButton" type="submit" name='btnSubmit'
                value="Submit Image" />

        </form> -->
        <div class='progress' id="progressDivId">
            <div class='progress-bar' id='progressBar'></div>
            <div class='percent' id='percent'>0%</div>
        </div>
        <div style="height: 10px;"></div>
        <div id='outputImage'></div>

                            </div>
                          <!--   <div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    0%
  </div>
</div> -->
                            <div class="card-header">
                                <h5>Armor Strat Table</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>ID Number</th>
                                                <th>Score</th>
                                                <th>Index</th>
                                                <th>WsScore</th>
                                                <th>Birth Date</th>
                                                <th>Age</th>
                                                <th>Today</th>
                                                <th>Age Weight</th>
                                                <th>Final Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in armor %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td><a href="/tablefulldata/{{data.id_number}}" target="_blank">{{data.id_number}}</a></td>
                                                <td>{{data.score}}</td>
                                                <td>{{data.index}}</td>
                                                <td>{{data.wscore}}</td>
                                                <td>{{data.brth_dt}}</td>
                                                <td>{{data.age}}</td>
                                                <td>{{data.today}}</td>
                                                <td>{{data.age_weight}}</td>
                                                <td>{{data.final_score}}</td>
                                                <!-- <td>view more</a></td> -->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <center>
                        {% include "pagination.html" with page=armor %}
                           <!--  <div class="pagination-div pagination">
                              <ul class="pagination-custom">
                                <li class="active">
                                {% if all_data.has_previous %}
                                <a href="/admin_dashboard/table/?page={{ all_data.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                                {% endif %}
                                </li>
                                <li class="current">Page {{ all_data.number }} of {{ all_data.paginator.num_pages }}</li>
                                <li>
                                {% if all_data.has_next %}
                                <a class="pagination_next" href="/admin_dashboard/table/?page={{ all_data.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                                {% endif %}
                                </li>
                              </ul>
                            </div> -->
                          </center>
                    </div>
                
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script src="http://jquery.form.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js" integrity="sha512-RTxmGPtGtFBja+6BCvELEfuUdzlPcgf5TZ7qOVRmDfI9fDdX2f1IwBq+ChiELfWt72WY34n0Ti1oo2Q3cWn+kw==" crossorigin="anonymous"></script>
<script type="text/javascript">


$(document).ready(function () {
    console.log("helllllooooooooooooooooo")
    $('#submitButton').click(function () {
            $('#fileuploadform').ajaxForm({
                target: '#outputImage',
                url: '/admin_dashboard/table/',
                beforeSubmit: function () {
                      $("#outputImage").hide();
                       if($("#csvfile").val() == "") {
                           $("#outputImage").show();
                           $("#outputImage").html("<div class='error'>Choose a file to upload.</div>");
                    return false; 
                }
                    $("#progressDivId").css("display", "block");
                    var percentValue = '0%';

                    $('#progressBar').width(percentValue);
                    $('#percent').html(percentValue);
                },
                uploadProgress: function (event, position, total, percentComplete) {

                    var percentValue = percentComplete + '%';
                    $("#progressBar").animate({
                        width: '' + percentValue + ''
                    }, {
                        duration: 5000,
                        easing: "linear",
                        step: function (x) {
                        percentText = Math.round(x * 100 / percentComplete);
                            $("#percent").text(percentText + "%");
                        if(percentText == "100") {
                               $("#outputImage").show();
                        }
                        }
                    });
                },
                error: function (response, status, e) {
                    alert('Oops something went.');
                },
                
                complete: function (xhr) {
                    if (xhr.responseText && xhr.responseText != "error")
                    {
                        alert("complete")
                         //$("#outputImage").html(xhr.responseText);
                    }
                    else{  
                        $("#outputImage").show();
                            $("#outputImage").html("<div class='error'>Problem in uploading file.</div>");
                            $("#progressBar").stop();
                    }
                }
            });
    });
});



// $(document).ready(function() {

//     $('form').on('submit', function(event) {

//         event.preventDefault();
//         var myForm = document.getElementById('fileuploadform');
//         var formData = new FormData(myForm);
//         // var formData = new FormData($('form'));
//         console.log(formData)

//         $.ajax({
//             xhr : function() {
//                 var xhr = new window.XMLHttpRequest();
//                 // console.log(xhr)
//                 xhr.upload.addEventListener('progress', function(e) {

//                     if (e.lengthComputable) {

//                         console.log('Bytes Loaded: ' + e.loaded);
//                         console.log('Total Size: ' + e.total);
//                         console.log('Percentage Uploaded: ' + (e.loaded / e.total))

//                         var percent = Math.round((e.loaded / e.total) * 100);

//                         $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');

//                     }

//                 });

//                 return xhr;
//             },
//             type : 'POST',
//             url : '/admin_dashboard/table/',
//             data : formData,
//             processData : false,
//             contentType : false,
//             success : function() {
//                 $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
//                 alert('File uploaded!');
//             }
//         });

//     });

// });
</script>
{% endblock javascripts %}