{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}
{% include 'message.html' %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                       <!--  <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                            <!-- <div class="card-header"> -->
                                {% if messages %}

                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                {% endif %}
                               <!-- <form action="/patientensList/" method="GET" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="file1"> Find Patient by id  :</label>
                                    <input type="text"  name="id">
                                    <button type="submit">Find</button>
                                </form>-->
                            <!-- </div> -->

                          </center>
                        {%if pclaims %}
                        <h3 class="medical-history-title">Medical  Claims of Patients</h3>

                      <div class="card-block table-border-style">
                                <div class="table-responsive">

                                    <table class="table custom-table">
                                        <thead>
                                            <tr>

                                                <th>ID Number</th>
                                                <th>claim_nbr</th>
                                                <th>service_code  </th>
                                                <th>revnu_cd</th>
                                                <th>diag_cd </th>
                                                <th>setting</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cla in pclaims %}
                                        {% if id %}<a href="/patientensclaiminfo/{{pen.id_number}}/"> Claim Info of Patient</a>{% endif %}
                                            <tr>

                                                <td>{{cla.id_number}}</td>
                                                <td>{{cla.service_code}}</td>
                                                <td>{{cla.revnu_cd}}</td>
                                                <td>{{cla.diag_cd}}</td>
                                                <td>{{cla.drg_cd}}</td>
                                                <td>{{cla.setting}}</td>
                                                
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <center class="pagination-div">
                                    {% include "pagination.html" with page=patientens %}
                                    </center>

                                </div>
                            </div>
                            {% else %} 
                            <div class="no-found-div">
                            No Entry Found
                            </div>
                        {% endif %}
                
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}




