{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
SITE :{{site}} <br/>
PROVIDER :{{prov}}
<br>
<div class="card-block table-border-style">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th>Sr. No.</th>
            <th>ID Number</th>
            <th>Birth Date</th>
            <th>Age</th>
            <th>Patient profile</th>
            </tr>
        </thead>
        <tbody>
        {% for ar in patients %}
        <tr>
            <td data-column="Sr. No.">{{ forloop.counter }}</td>
            <td data-column="ID Number"><a href="/tablefulldata/{{ar.id_number}}">{{ar.id_number}}</a></td>
            <td data-column="Birth Date">{{ar.brth_dt}}</td>
            <td data-column="Age">{{ar.age|floatformat:"0"}}</td>
            <!-- <td data-column="Today">View More</a></td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}