
{% extends 'PowerBI/base.html'%}
{% block content %}
    <h1>Home Page</h1>
    {% for posts in posts %}
        <h1>{{ posts.author }}</h1>
        <h2>{{ posts.title }}</h2>
        <p> {{ posts.content }}</p>
    {% endfor %}
{% endblock content %}


