{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--{% if settings %}-->
<!--<div class="pcoded-content">-->
<!--  <div class="pcoded-inner-content">-->
<!--    <div class="card daily-sales">-->
<!--      <div class="card-header">-->
<!--        <div class="row upload-div-custom">-->
<!--          <div class="col-md-6 col-sm-12">-->
<!--<form action="{% url 'maingraph' %}" method="POST">-->
<!--     {% csrf_token %}-->
<!--    <label class="upload-file-title"> Select line settings</label>-->
<!--    <select name="line_Settings" class="setting_select">-->
<!--    <option disabled="True">Select Settings</option>-->
<!--    <option value="">All</option>-->
<!--    {% for option in settings %}-->
<!--    <option value="{{option}}">{{option}} </option>-->

<!--    {% endfor %}-->
<!--    </select>-->
<!--     &lt;!&ndash; <button type="submit">Filter by setting</button> &ndash;&gt;-->
<!--</form>-->
<!--{% endif %}-->
<!--</div>-->
<!--<div class="col-md-6 col-sm-12">-->
<!--{% if ICD %}-->
<!--<form action="{% url 'maingraph' %}" method="POST">-->
<!--     {% csrf_token %}-->
<!--    <label class="upload-file-title"> Select ICD</label>-->
<!--    <select name="icd" class="icd_select">-->
<!--    <option disabled="True" >Select icd</option>-->
<!--    <option value="">All</option>-->
<!--    {% for icd in ICD %}-->
<!--    <option value="{{icd}}">{{icd}}</option>-->
<!--    {% endfor %}-->
<!--    </select>-->
<!--     &lt;!&ndash; <button type="submit">Filter By ICD</button> &ndash;&gt;-->
<!--</form>-->
<!--{% endif %}-->
<!--    </div>-->
<!--    </div>-->
<!--    </div>-->
<!--&lt;!&ndash;-->
{% if settings %}{{settings}}
<form action="{% url 'maingraph' %}" method="POST">
     {% csrf_token %}
    <label> Select line settings</label>
    <select name="line_Settings"  multiple="multiple">
    <option disabled="True">Select Settings</option>
    {% for option in settings %}
    <option value="{{option}}" >{{option}} </option>
    {% endfor %}
    </select>
     <button type="submit">Filter by setting</button>
</form>
{% endif %}

{% if ICD %}
<form action="{% url 'maingraph' %}" method="POST">
     {% csrf_token %}
    <label> Select ICD</label>
    <select id="icd" name="icd" multiple="multiple">
    {% for icd in ICD %}
    <option value="{{icd}}" >{{icd}}</option>
    {% endfor %}
    </select>
     <button type="submit">Filter By ICD</button> 
</form>

<form action="{% url 'maingraph' %}" method="POST">
     {% csrf_token %}
    <label> Select CPT</label>
    <select id="cpt" name="cpt" multiple="multiple">
    {% for cpt in CPT %}
    <option value="{{cpt}}" >{{cpt}}</option>
    {% endfor %}
    </select>
    <button type="submit">Filter By CPT</button>
</form>
{% endif %}
{% if line_setting %} Filter applied setting:->{{line_setting}}{% endif %}
{% if Icd %}Filter applied ICD:->{{Icd}}{% endif %}
{% if cpt %}Filter applied CPT:->{{cpt}}{% endif %}

<!--<div id="container2"  data-url="{% url 'sitegraph' %}"  style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
<div id="container" style="width: 100%;">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <div class="chartjs-size-monitor"></div>
         <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
          <div id="maingraph" style="min-width: 410px; height: 400px; margin: 0 auto"></div>
<!--          <div id="container4"  data-url="{% url 'maingraphdrilldown' %}"  style="min-width: 410px; height: 400px; margin: 0 auto"></div>-->
<!--    <div id="container1" style="min-width: 410px; height: 400px; margin: 0 auto"></div>-->
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
          <div>


          </div>
    </div>

</div>
    </div>
</div>
<div class='card-block table-border-style'>

</div>
<div id="container3"  data-url="{% url 'sitegraph' %}"  style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
</div>
<!-- {{data}} -->
<!-- {% for d in data %}
{{d.labels}}
{% endfor %}
{% endblock content %}
-->
 <!-- Specific Page JS goes HERE -->

{% block javascripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<script type="text/javascript">
$("select.setting_select").change(function(){
        var selectedsetting = $(this).children("option:selected").val();
        var selectedicd = $("select.icd_select").children("option:selected").val();
        console.log("setting value: " +selectedsetting);
        console.log("icd  value: "+selectedicd)
        setting_ajax(selectedsetting,selectedicd)
        // alert("You have selected the country - " + selectedCountry);
    });
$("select.icd_select").change(function(){
        var selectedicd = $(this).children("option:selected").val();
        var selectedsetting = $("select.setting_select").children("option:selected").val();
        console.log("setting value: " +selectedsetting);
        console.log("icd  value: "+selectedicd)
        setting_ajax(selectedsetting,selectedicd)
    });
function setting_ajax(selectedsetting,selectedicd)
{
 var csrf = $("input[name=csrfmiddlewaretoken]").val(); 
//  $.ajax({
//     type:"POST",
//     url : "dashboard/graph/",
//     data: {"csrfmiddlewaretoken":csrf,
//           "selectedsetting":selectedsetting,
//           "selectedicd":selectedicd
//           },
//     dataType: 'json',
//     success : function(response){
//       console.log("done")
//       console.log(response)
//     },
// });
}
var drilldown_list = []
// var 
  var chart = Highcharts.chart("maingraph", {
    chart: {
      type: "column",

      events: {
                 drilldown: function(e) 
                 { 
                  if(drilldown_list.length>=3)
                    
                  {
                    
                    $(".table-border-style").show()
                    drilldown_list.push(e.point.name);
                    $.ajax({
                    type:"GET",
                    url : "/dashboard/patient-by-drilldown/?event_list="+drilldown_list,
                    dataType: 'json',
                    success : function(response){
                      var html2 = ""

                      var html1 = "<div class='card-block'>\
                                    <button onclick='exportTableToCSV()'>Export CSV</button>\
                                    <div class='table-responsive'>\
                                    <table class='table custom-table'>\
                                    <thead>\
                                    <tr>\
                                    <th>Sr.No.</th>\
                                    <th>ID Number</th>\
                                    <th>Birth Date</th>\
                                    <th>Age</th>\
                                    </tr>\
                                    </thead>\
                                    <tbody>"
                        for(var i = 0; i < response.length; i++) {
                          
                            temp ="<tr>\
                            <td>"+i+"</td>\
                            <td><a href=/tablefulldata/"+response[i]['id']+">"+response[i]['id']+"</a></td>\
                            <td>"+response[i]['birthDT']+"</td>\
                            <td>"+(response[i]['age']).toFixed(2)+"</td>\
                            </tr>"
                            html2 = html2+temp
                    }
                       $(".table-border-style").replaceWith(html1+html2+"</tbody></table></div></div>")
                    },
                });
                    console.log("if condition");
                    console.log(drilldown_list)
                  }
                  else if(drilldown_list.length<3)
                  {
                    $(".table-border-style").hide()
                    drilldown_list.push(e.point.name);
                    console.log(drilldown_list);
                    
                    console.log("else if condition");
                  } 
                  // else{
                  //   // $(".table-border-style").hide()
                  //   drilldown_list.pop();
                  //   console.log("else condition")
                  //   console.log(drilldown_list)
                  // }
                },
                 drillup: function(e) 
                 { 
                  if(drilldown_list.length==4)
                  {
                    $(".table-border-style").hide()
                    console.log("drillup if condition");
                    drilldown_list.splice(-2)
                    console.log(drilldown_list); 
                  } 
                  else if(drilldown_list.length<4)
                  {
                    $(".table-border-style").hide()
                    drilldown_list.pop();          
                  console.log(drilldown_list); 
                  }
                   
                },
          }
    },
    xAxis: {
      type: "category",
    },
    title: {
                text: "PMPM COST"
            },
    plotOptions: {
      series: {
        borderWidth: 0,
        dataLabels: {enabled: false},
        colorByPoint: true,
        
      },
    },
    series:{{chart.series|safe}},
    drilldown: {
      series:{{chart.drilldown.series|safe}},
    },
    
  });
</script>

<script>
    $.ajax({
      url: $("#container3").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("container3", data);
      }
    });
</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--      $('select').selectize({-->
<!--          sortField: 'text'-->
<!--      });-->
<!--  });-->
<!--</script>-->

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('select').select2();
    });
</script>
<script>
function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
function exportTableToCSV() {
  // alert("filename")
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
        {
            row.push(cols[j].innerText);
        }
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), "data.csv");
}
</script>
{% endblock javascripts %}