 {% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
<span> setting Filter :</span><select class="form-control" multiple="multiple" id="setting">
    <option  disabled="True" value="-" id="loading_settings"></option>
</select></div>
<div class="col-sm">
  <span> ICD Filter :</span><select class="form-control" id="icd" multiple>
  <option  disabled="True" value="-" id="loading_icd">loading_icd</option>
</select></div>
<div class="col-sm">
  <span> CPT Filter :</span><select  class="form-control" id="cpt" multiple>
  <option  disabled="True" value="-" id="loading_cpt">loading_icd</option>
</select></div>
</div>
<!--<button type="button" id="applyfilter" class="btn btn-info">Apply Filter</button>-->
</div>

<div
  id="maingraph"
  style="min-width: 410px; height: 400px; margin: 0 auto"
></div>
<div class='card-block table-border-style'>

</div>
{%endblock content %} {% block javascripts %} 

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript">
Highcharts.setOptions({lang: {noData: "Your custom message"}})
 var myChart = Highcharts;
 var setting_array;
 var icd_array;
 var cpt_array;    
  $.ajax({
      contentType: "application/json",
      url: "/graphfilter/settingdata/",
      async: false,
      success: function (result) {
        settings=result.data;
        setting_array = settings;
        cpt_array=result.data_cpt;
      }}
  );
  $.ajax({
      contentType: "application/json",
      url: "/graphfilter/icddata/",
      async: false,
      success: function (result) {
        icds=result.data;
        icd_array = icds;
      }
  });



  $(document).ready(
    select_search(),
    load_setting_filter(),
    load_cpt_filter(),
    load_icd_filter(),
    laod_graph(),
    $('#setting').on("change", function(){
      // console.log("hi")
    }),

    $('select.form-control').change(function(){
      var selectedsetting = $('#setting').val();
      var icdsetting = $('#icd').val();
      var cptsetting = $('#cpt').val();
      laod_graph(selectedsetting,icdsetting,cptsetting)
    }),
  );


  function laod_graph(settingfilter,icdfilter,cptsetting) {
    // console.log(settingfilter)
    console.log(settingfilter,icdfilter,cptsetting,'hello')
    $.ajax({
      type :"POST",
      contentType: "application/json",
      url: "/graphdata/maingraph/GetCostByYear/",
      data:JSON.stringify({'setting':settingfilter,'icd':icdfilter,'cpt':cptsetting }),
      dataType: "json",
      success: function (result) {
        result = result.data;
        var data = [];
        for (var i in result) {
          var serie = {
            name: result[i][0],
            y: result[i][1],
            drilldown: result[i][0],
          };
          data.push(serie);
        }
        //console.log(data);
        BindChart(data,settingfilter);
      },
    });
  };


  function BindChart(seriesArr,settingfilter,icdfilter,cptsetting) {
    var drilldown_list = []
    myChart.chart('maingraph',{
      chart: {
        type: "column",

        events: {
                 drilldown: function(e){
                 drilldown_list.push(e.point.name);
                 if(drilldown_list.length<=3) {
                if (!e.seriesOptions) {
                         
                         var chart = this;
                         var dataArr = CallChild(e.point.name,drilldown_list,settingfilter,icdfilter,cptsetting);
                         chart.showLoading();
                         data = {
                              name: drilldown_list.join("-"),
                              data: dataArr
                          }
                          setTimeout(function () {
                              chart.addSeriesAsDrilldown(e.point, data);
                          }, 1000);
                          chart.hideLoading();  
                         }
                       }
                         drilldown_list.pop();
                         if(drilldown_list.length>=3)
                    
                  {
                    
                    $(".table-border-style").show()
                    drilldown_list.push(e.point.name);
                    $.ajax({
                    type:"GET",
                    url : "/dashboard/patient-by-drilldown/?event_list="+drilldown_list,
                    dataType: 'json',
                    success : function(response){
                      // console.log("call")
                      // console.log(response)
                      var html2 = ""

                      var html1 = "<div class='card-block'>\
                                    <button onclick='exportTableToCSV()'>Export CSV</button>\
                                    <div class='table-responsive'>\
                                    <table class='table custom-table'>\
                                    <thead>\
                                    <tr>\
                                    <th>Sr.No.</th>\
                                    <th>ID Number</th>\
                                    <th>Birth Date</th>\
                                    <th>Age</th>\
                                    </tr>\
                                    </thead>\
                                    <tbody>"

                        for(var i = 0; i < response.length; i++) {
                          
                            temp ="<tr>\
                            <td>"+i+"</td>\
                            <td><a href=/tablefulldata/"+response[i]['id']+">"+response[i]['id']+"</a></td>\
                            <td>"+response[i]['birthDT']+"</td>\
                            <td>"+(response[i]['age']).toFixed(2)+"</td>\
                            </tr>"
                            html2 = html2+temp
                    }
                    // console.log(html2)
                       $(".table-border-style").replaceWith("<div class='card-block table-border-style'>"+html1+html2+"</tbody></table></div></div></div>")
                       drilldown_list.pop();
                    },
                });
                    // console.log("if condition");
                    // console.log(drilldown_list)
                  }
                  else if(drilldown_list.length<3)
                  {
                    // $(".table-border-style").hide()
                    // drilldown_list.pop();
                    drilldown_list.push(e.point.name);
                    // console.log(drilldown_list);
                    
                    // console.log("else if condition");
                  } 
                 },
                 drillup: function(e) 
                 {
                  drilldown_list.pop();
                  $(".table-border-style").hide()
                 }
              }

      },
      title: {
        text: "PMPM",
      },
      xAxis: {
        type: "category",
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: false,
          },
          colorByPoint: true,
        },
      },
      series: [
        {
          name: "Year",
          colorByPoint: true,
          data: seriesArr,
        },
      ],
    });
  }

  function CallChild(point_name,drilldown_list,settingfilter,icdfilter,cptsetting){
  var Drilldowndata = [];
  $.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "/graphdata/maingraph/GetCostByMonthYear/",
  async: false,
  data: JSON.stringify({'drilldown_list':drilldown_list,"setting":settingfilter,'icd':icdfilter,'cpt':cptsetting}),
  dataType: "json",
  async: false,
  success: function (Result)
  {
    Result = Result.data;
    for (var i in Result) {
          var serie = {
            id : drilldown_list.join('/'),
            name: Result[i][0],
            y: Result[i][1],
            drilldown: drilldown_list.join('/')+'/'+Result[i][0],
          };
          Drilldowndata.push(serie);
         }
      }      
    })
    return Drilldowndata;
  };
  
  function load_setting_filter(){    
        $.each(setting_array,function(key,setting){
          var option =  new Option(setting,setting);
          $(option).html(setting);
                    $("#setting").append(option);
        });
        $('#loading_settings').text('Select Settings');

  };

function load_icd_filter(){
        $.each(icd_array,function(key,icd){
          var option =  new Option(icd,icd);
          $(option).html(icd);
                    $("#icd").append(option);
        });
        $('#loading_icd').text('Select icd');
      };
function load_cpt_filter(){
        $.each(cpt_array,function(key,cpt){
          var option =  new Option(cpt,cpt);
          $(option).html(cpt);
                    $("#cpt").append(option);
        });
        $('#loading_cpt').text('Select cpt');
      };

function select_search(){
  $('select').select2();  
}
</script>


{% endblock javascripts %}
