{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Patient Filter</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card daily-sales">
                            <div class="card-header">
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row upload-div-custom">
                                        <div class="col-md-6 col-sm-12">
                                    <select name="provider" class="provider">
                                        <option value="">Select provider</option>
                                        {% for pro in providernameList %}
                                        <option value="{{pro}}">{{pro}}</option>
                                        {% endfor %}

                                    </select>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                    <select name="site" class="site">
                                        <option value="">Select site</option>
                                        {% for site in siteList %}
                                        <option value="{{site}}">{{site}}</option>
                                        {% endfor %}

                                    </select>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                            <div class="Recent-Users">
                                <h5>Armor Strat Table</h5>
                                <div class="table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>ID Number</th>
                                                <th>Birth Date</th>
                                                <th>Age</th>
                                                <th>Profile Link</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       
                        <center>
                        {% include "pagination.html" with page=armor %}
                          </center>
                    </div>
                
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
        $(document).ready(function() {
            console.log("start")
                $('select[name="provider"]').change(function(){
                    ajaxfn()
                    });
         $('select[name="site"]').change(function(){
            ajaxfn()       
              });
         function ajaxfn()
         {
                    provider = $( ".provider option:selected" ).val();
                    site = $( ".site option:selected" ).val();
                    csrf = $("input[name=csrfmiddlewaretoken]").val();
                    $.ajax({
                    type:"POST",
                    url : "/dashboard/patient-by-filter/",
                    data:{provider:provider, site:site,
                    'csrfmiddlewaretoken': csrf,} ,
                    dataType: 'json',
                    success : function(response){
                        tbody = "<tbody>"
                        for(var i = 0; i < response.length; i++) {

                        htmlData ="<tr>\
                        <td>"+i+"</td>\
                        <td>"+response[i]['id']+"</td>\
                        <td>"+response[i]['birthDT']+"</td>\
                        <td>"+response[i]['age']+"</td>\
                        <td><a href=/tablefulldata/"+response[i]['id']+">view profile</a></td>\
                        </tr>"
                        tbody = tbody+htmlData
                    }
                       $("tbody").replaceWith(tbody+"</tbody>")
                    
                    },
                });
         }
          });
        </script>
{% endblock javascripts %}


