{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}
{% include 'message.html' %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                       <!--  <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <!-- <div class="card">-->
                           
                                <div class="card daily-sales">
                                    <div class="card-header">
                                {% if messages %}

                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                {% endif %}
                                <form action="/admin_dashboard/patientList/" method="GET" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label class="upload-file-title" for="file1"> Find Patient by id  :</label>
                                    <div class="row upload-div-custom">
                                        <div class="col-md-6 col-sm-12">
                                         <input type="text"  name="id">
                                         </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                          <button class="upload-btn-custom" type="submit">Find</button>
                                        </div>
                                    </div>
                                </form>
                             </div>

                          <!-- </center> --> 
                          </div>

                    </div>
                    </div>
                        {%if patientens %}
                        <h3 class="medical-history-title">Medical History of Patients</h3>

                      <!-- <div class="card-block table-border-style"> -->
                                <div class="table-responsive">

                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>ID Number</th>
                                                <th>AMI</th>
                                                <th>CHF </th>
                                                <th>PVD</th>
                                                <th>CEVD</th>
                                                <th>Dementia</th>
                                                <th>COPD</th>
                                                <th>RHEUMD</th>
                                                <th>PUD</th>
                                              <th>MLD</th>
                                              <th>DIAB</th>
                                              <th>DIABWC</th>
                                              <th>HP</th>
                                              <th>REND</th>
                                              <th>CANC</th>
                                              <th>MSLD</th>
                                              <th>METACANC</th>
                                              <th>AIDS</th>
                                              <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for pen in patientens %}
                                      <!--   {% if id %}<a href="/patientclaiminfo/{{pen.id_number}}/"> Claim Info of Patient</a>{% endif %} -->
                                            <tr>
                                                <td>{{pen.id_number}}</td>
                                                {% if pen.ami == False%}
                                                <td style="color: red">{{pen.ami}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.ami}}</td>
                                                {% endif %}
                                                {% if pen.chf == False%}
                                                <td style="color: red">{{pen.chf}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.chf}}</td>
                                                {% endif %}

                                                {% if pen.pvd == False%}
                                                <td style="color: red">{{pen.pvd}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.pvd}}</td>
                                                {% endif %}
                                                {% if pen.cevd == False%}
                                                <td style="color: red">{{pen.cevd}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.cevd}}</td>
                                                {% endif %}
                                                {% if pen.dementia == False%}
                                                <td style="color: red">{{pen.dementia}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.dementia}}</td>
                                                {% endif %}
                                                {% if pen.copd == False%}
                                                <td style="color: red">{{pen.copd}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.copd}}</td>
                                                {% endif %}

                                                {% if pen.rheumd == False%}
                                                <td style="color: red">{{pen.rheumd}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.rheumd}}</td>
                                                {% endif %}
                                                {% if pen.pud == False%}
                                                <td style="color: red">{{pen.pud}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.pud}}</td>
                                                {% endif %}
                                                {% if pen.mld == False%}
                                                <td style="color: red">{{pen.mld}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.mld}}</td>
                                                {% endif %}
                                                {% if pen.diab == False%}
                                                <td style="color: red">{{pen.diab}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.diab}}</td>
                                                {% endif %}
                                                {% if pen.diabwc == False%}
                                                <td style="color: red">{{pen.diabwc}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.diabwc}}</td>
                                                {% endif %}
                                                {% if pen.hp == False%}
                                                <td style="color: red">{{pen.hp}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.hp}}</td>
                                                {% endif %}
                                                {% if pen.rend == False%}
                                                <td style="color: red">{{pen.rend}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.rend}}</td>
                                                {% endif %}
                                                {% if pen.canc == False%}
                                                <td style="color: red">{{pen.canc}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.canc}}</td>
                                                {% endif %}
                                                {% if pen.msld == False%}
                                                <td style="color: red">{{pen.msld}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.msld}}</td>
                                                {% endif %}
                                                {% if pen.metacanc == False%}
                                                <td style="color: red">{{pen.metacanc}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.metacanc}}</td>
                                                {% endif %}
                                                {% if pen.aids == False%}
                                                <td style="color: red">{{pen.aids}}</td>
                                                {% else %}
                                                <td style="color: green">{{pen.aids}}</td>
                                                {% endif %}
                                                <td><a class="view-more-btn" href="/patientclaiminfo/{{pen.id_number}}/"> Claim Info of Patient</a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <center class="pagination-div">
                                    {% include "pagination.html" with page=patientens %}
                                    </center>
                                </div>
                            </div>
                            {% else %} 
                            <div class="no-found-div">
                              No Entry Found
                            </div>
                        {% endif %}
                    <!-- [ stiped-table ] end -->
                <!-- </div> -->
                <!-- [ Main Content ] end -->
            <!-- </div> -->
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
