{% extends "layouts/base.html" %}
{% block title %} Json Fiile Uploading {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
   integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
   integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
   integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
   crossorigin="anonymous"></script>
{% endblock stylesheets %}
{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
               <div class="page-wrapper">
                  <!-- [ Main Content ] start -->
                  <div class="row">
                     <!-- [ basic-table ] start -->
                     <div class="col-xl-12">
                        <div class="card daily-sales">
                           <div class="card-header">
                              {% if messages %}
                              <div class="alert alert-danger">
                                 <ul style="list-style-type:none;">
                                    {% for message in messages %}
                                    <li>{{ message }}</li>
                                    {% endfor %}
                                 </ul>
                              </div>
                              {% endif %}
                              <form action="/admin_dashboard/upload-json/" method="POST" enctype="multipart/form-data" id="fileuploadform">
                                 {% csrf_token %}
                                 <label class="upload-file-title" for="file1"> Upload file</label>
                                 <div class="row upload-div-custom">
                                    <div class="col-md-6 col-sm-12">
                                       <select name="file_name">
                                          <option value="1">Anomaly_Output</option>
                                          <option value="2"> Prediction_Output</option>
                                       </select>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                       <input type="file" id="jsonfile" name="file" accept="application/json">
                                       <small>Only accepts json files</small>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                       <button class="upload-btn-custom" type="submit">Upload</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <!-- [ stiped-table ] end -->
                  </div>
                  <!-- [ Main Content ] end -->
               </div>
            </div>
        </div>
    </div>
{% endblock %}