{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

{% endblock stylesheets %}

{% block content %}
<div class="loader">
    <img src="https://i.gifer.com/ZZ5H.gif">
</div>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tables</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card daily-sales">
                            <div class="card-header">
                                {% if messages %}

                                <div class="alert alert-danger">
                                    <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                        <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data" id="fileuploadform">
                                    {% csrf_token %}
                                    <label class="upload-file-title" for="file1"> Upload file</label>
                                    <div class="row upload-div-custom">
                                        <div class="col-md-6 col-sm-12">
                                            <select name="file_name">
                                                <option disabled="True">Select file name</option>
                                                <option value="Armor">Armor Start</option>
                                                <option value="VDOC_ADP"> VDOC_ADP</option>
                                                <option value="Claims"> Claims</option>
                                                <option value="ICD10"> ICD10</option>
                                                <option value="CPT"> CPT Codes</option>
                                                <option value="DRG"> DRG</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="file" id="csvfile" name="file">
                                            <small>Only accepts csv and xlsx files</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <button class="upload-btn-custom" type="submit">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
<!--                        <div class="progress custom-progress">-->
<!--                            <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"-->
<!--                                 aria-valuemin="0" aria-valuemax="100" style="width: 0%;">-->
<!--                                0%-->
<!--                            </div>-->
<!--                            <div class="text-center">-->
<!--                              <div class="spinner-border" role="status">-->
<!--                                <span class="sr-only">Loading...</span>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="Recent-Users">
                            <h5>Armor Strat Table</h5>
                            <div class="table-responsive">
                                <table class="table custom-table">
                                    <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>ID Number</th>
                                        <th>Score</th>
                                        <th>Index</th>
                                        <th>WsScore</th>
                                        <th>Birth Date</th>
                                        <th>Age</th>
                                        <th>Today</th>
                                        <th>Age Weight</th>
                                        <th>Final Score</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in armor %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td><a class="view-more-btn" href="/tablefulldata/{{data.id_number}}"
                                               target="_blank">{{data.id_number}}</a></td>
                                        <td>{{data.score}}</td>
                                        <td>{{data.index}}</td>
                                        <td>{{data.wscore}}</td>
                                        <td>{{data.brth_dt}}</td>
                                        <td>{{data.age}}</td>
                                        <td>{{data.today}}</td>
                                        <td>{{data.age_weight}}</td>
                                        <td>{{data.final_score}}</td>
                                        <!-- <td><a class="view-more-btn" href="/tablefulldata/{{data.id_number}}" target="_blank">view more</a></td> -->
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <center class="pagination-div">
                            {% include "pagination.html" with page=armor %}
                            <!--  <div class="pagination-div pagination">
                               <ul class="pagination-custom">
                                 <li class="active">
                                 {% if all_data.has_previous %}
                                 <a href="/admin_dashboard/table/?page={{ all_data.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                                 {% endif %}
                                 </li>
                                 <li class="current">Page {{ all_data.number }} of {{ all_data.paginator.num_pages }}</li>
                                 <li>
                                 {% if all_data.has_next %}
                                 <a class="pagination_next" href="/admin_dashboard/table/?page={{ all_data.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                                 {% endif %}
                                 </li>
                               </ul>
                             </div> -->
                        </center>
                    </div>

                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
<style>
.loader {
    display: None;
}
.loading {
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    background: #8badcc;
    width: 100%;
    opacity: 0.5;
}
.loading img {
    opacity: 1;
    height: 100px;
    position: relative;
    width: 100px;
    top: 240px;
    left: 44%;
}

</style>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {

    $('form').on('submit', function(event) {

        event.preventDefault();
        var myForm = document.getElementById('fileuploadform');
        var formData = new FormData(myForm);
        // var formData = new FormData($('form'));
        console.log(formData)

        // $.ajax({
        //     xhr : function() {
        //         var xhr = new window.XMLHttpRequest();
        //         // console.log(xhr)
        //         xhr.upload.addEventListener('progress', function(e) {

        //             if (e.lengthComputable) {

        //                 console.log('Bytes Loaded: ' + e.loaded);
        //                 console.log('Total Size: ' + e.total);
        //                 console.log('Percentage Uploaded: ' + (e.loaded / e.total))

        //                 var percent = Math.round((e.loaded / e.total) * 100);

        //                 $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');

        //             }

        //         });

        //         return xhr;
        //     },
        //     type : 'POST',
        //     url : '/admin_dashboard/table/',
        //     data : formData,
        //     processData : false,
        //     contentType : false,
        //     success : function() {
        //         alert('File uploaded!');
        //     }
        // });


$.ajax({
    type: 'POST',
    url: "/admin_dashboard/table/",
    data: formData,
    processData: false,
    contentType: false,
    beforeSend: function(){
        $(".loader").addClass("loading")
    },
    success: function(data){
        $(".loader").removeClass("loading")
        alert('File uploaded!');
        location.reload(true)
    }
});
    });

});

</script>
{% endblock javascripts %}
