{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Vendors</h5>
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <!-- <div class="card">
                            <div class="card-header"> -->
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                               
                            <!-- </div> -->
                            <!-- <div class="card-header">
                                <h5>Vendor's CSV</h5>
                            </div> -->
                                <div class="table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Uploaded By</th>
                                                <th>File Type</th>
                                                <th>File</th>
                                                <th>Created At</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for d in data %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{d.username}}</td>
                                                <td>{{d.filetype}}</td>
                                                <td>{{d.csv}}</td>
                                                <td>{{d.createdat}}</td>
                                                {% if d.status == "0" %}

                                                <td><a href="/imorttodb/{{d.id}}/" >Import File</a></td>
                                                {% else %}
                                                <td><span>File imported</span></td>

                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       <!--  <center>
                            <div class="pagination-div pagination">
                              <ul class="pagination-custom">
                                <li class="active">
                                {% if all_data.has_previous %}
                                <a href="/table/?page={{ all_data.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                                {% endif %}
                                </li>
                                <li class="current">Page {{ all_data.number }} of {{ all_data.paginator.num_pages }}</li>
                                <li>
                                {% if all_data.has_next %}
                                <a class="pagination_next" href="/table/?page={{ all_data.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                                {% endif %}
                                </li>
                              </ul>
                            </div>
                          </center> -->
                    <!-- </div> -->
                
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
