{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 
{% include 'message.html' %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card daily-sales">
                            <div class="card-header">
                                {% if messages %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label class="upload-file-title" for="file1"> Upload file</label>
                                    <div class="row upload-div-custom">
                                        <div class="col-md-6 col-sm-12">
                                    <select name="file_name">
                                        <option disabled="True">Select file name</option>
<!--                                        <option value="Armor">Armor Start</option>-->
<!--                                        <option value="VDOC_ADP"> VDOC_ADP </option>-->
                                        <option value="Claims"> Claims </option>
<!--                                        <option value="ICD10"> ICD10 </option>-->
<!--                                        <option value="CPT"> CPT Codes </option>-->
                                        <option value="DRG"> DRG </option>

                                    </select>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                    <input type="file" id="csvfile" name="file">
                                    <small>Only accepts xlsx files</small>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <button class="upload-btn-custom" type="submit">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                          </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
