{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<link rel="stylesheet" href="/static/PowerBI/css/view_morecss.css">
      <section class="user_profile padd-row">
         <div class="container-fluid">
            <div class="row">
               <div class="">
               </div>
               <div class="col-md-12 p-0">
                  <div class="profile_ctn">
                  
                     <div class="row">
                        <div class="col-md-12">
                           <div class="profile_section">
                              <div class="candilist_box_rght">
                                 <div class="row">
                                    <div class="col-md-2">
                                       <div class="candilist_img_box_img">
                                          <img src="/static/PowerBI/images/profile.jpg" alt="">
                                       </div>
                                    </div>
                                    <div class="col-md-10">
                                       <div class="candilist_details ">
                                          <div class="d-flex justify-content-between">
                                             <div class="candi_id">
                                                <h4>ID NUMBER</h4>
                                                {% for ar in armorData|slice:":1" %}
                                                <h2>{{ar.id_number}}</h2>
                                                {% endfor %}
                                             </div>
                                             <div class="candilist_box_add "> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                                          </div>
                                          <div class="candilist_sectionbox">
                                             <ul>
                                             {% for ar in armorData|slice:":1" %}
                                                <li>
                                                   <div class="candilist_box_list">                                       <h4><strong>BIRTH DATE:</strong> <span>{{ar.brth_dt}}</span></h4>
                                                   </div>
                                                </li>
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>AGE:</strong> <span>{{ar.age|floatformat:2}}</span></h4>
                                                   </div>
                                                </li>
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>AGE WEIGHT:</strong> <span>{{ar.age_weight}}</span></h4>
                                                   </div>
                                                </li>
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>FINAL SCORE:</strong> <span>{{ar.final_score}}</span></h4>
                                                   </div>
                                                </li>
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>WSscore:</strong> <span>{{ar.wscore}}</span></h4>
                                                   </div>
                                                </li>
                                                {% endfor %}
                                                {% for hcc in hccData|slice:":1" %}
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>MRA:</strong> <span>{{hcc.mraweighting|floatformat:2}}</span></h4>
                                                   </div>
                                                </li>
                                                {% endfor %}
                                                {% for claims in claimsData|slice:":1" %}
                                                <li>
                                                   <div class="candilist_box_list">
                                                      <h4><strong>Group Name:</strong> <span>{{claims.group_name}}</span></h4>
                                                   </div>
                                                </li>
                                                {% endfor %}
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     <div class="row mt-5">
                        <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Total Spend: {{total_spent.total_charges__sum|floatformat:2}}</h4>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Total Paid: {{total_paid|floatformat:2}}</h4>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Claims</h4>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Hospitalizations</h4>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Medications</h4>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4 mb-4">
                           <div class="daily-sales">
                              <div class="btn_tab_section">
                                 <h4 class="mb-0 total-spend">Chronic Conditions (HCC’s)</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                      <div class="row mt-5">
                      <div class="col-md-12">
                          <div class="card">
            <!-- <div class="card-header"> -->
               <div class="tabbable-responsive">
                  <div class="tabbable">
                     <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active bg_color_tab_1" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Claims</a>
                        </li>

                     </ul>
                  </div>
               </div>
            <!-- </div> -->
            <!-- <div class="card-body"> -->
               <div class="tab-content custom-tab-content">

                  <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                     <table class="table custom-table">
                        <thead>
                           <tr>
                              <th>Sr. No.</th>
                              <th>Claim NBR</th>
                              <th>Claim Line NBR</th>
                              <th>Service Code</th>
                              <th>Revnu CD</th>
                              <th>Diag CD</th>
                              <th>DRG CD</th>
                              <th>Setting </th>
                              <th>Line Setting</th>
                              <th>Group Number</th>
                              <th>Group Name</th>
                              <th>Gender CD</th>
                              <th>C FAC Prof</th>
                              <th>Provider Name</th>
                              <th>NDC</th>
                              <th>Drug Name</th>
                              <th>Date Incured </th>
                              <th>Date Last Service</th>
                              <th>Total Charges</th>
                              <th>Total Paid</th>
                           </tr>
                        </thead>
                        <tbody>
                        {% for ca in claim_data %}
                           <tr>
                              <td data-column="Sr. No.">{{ forloop.counter }}</td>
                              <td data-column="Claim NBR">{{ca.claim_nbr}}</td>
                              <td data-column="Claim Line NBR">{{ca.clm_line_nbr}}</td>
                              <td data-column="Service Code">{{ca.service_code}}</td>
                              <td data-column="Revnu CD">{{ca.revnu_cd}}</td>
                              <td data-column="Diag CD">{{ca.diag_cd}}</td>
                              <td data-column="DRG CD">{{ca.drg_cd}}</td>
                              <td data-column="Setting">{{ca.setting}}</td>
                              <td data-column="Line Setting">{{ca.line_setting}}</td>
                              <td data-column="Group Number">{{ca.group_number}}</td>
                              <td data-column="Group Name">{{ca.group_name}}</td>
                              <td data-column="Gender CD">{{ca.gndr_cd}}</td>
                              <td data-column="C FAC Prof">{{ca.c_fac_prof}}</td>
                              <td data-column="Provider Name">{{ca.provider_name}}</td>
                              <td data-column="NDC">{{ca.ndc}}</td>
                              <td data-column="Drug Name">{{ca.drug_name}}</td>
                              <td data-column="Date Incured">{{ca.date_incurred}}</td>
                              <td data-column="Date Last Service">{{ca.date_last_service}}</td>
                              <td data-column="Total Charges">{{ca.total_charges}}</td>
                              <td data-column="Total Paid">{{ca.total_paid}}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <center class="pagination-div">
                  {% include "pagination.html" with page=claim_data %}
                  </center>
                  
               </div>
            </div>
         <!-- </div> -->
                          </div>
                      
                      </div>
                  </div>
               </div>
            </div>
         </div>
         
         
      </section>
{% endblock content %}

 <!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<script>
    $.ajax({
      url: $("#container2").attr("data-url"),
      dataType: 'json',
      success: function (data) {

        Highcharts.chart("container2", data);
        console.log(data.chart);
      }
    });
 </script>
<script>
    $.ajax({
      url: $("#container3").attr("data-url"),
      dataType: 'json',
      success: function (data) {

        Highcharts.chart("container3", data);
        console.log("hi");
      }
    });
 </script>
 {% endblock javascripts %}
