
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <!-- <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-dattaable" class="b-brand"> -->
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    {% if request.user.is_superuser %}
                    <span class="b-title">Antidote </span><br><br>
                    <span class="b-title">Admin </span>
                    {% else %}
                    <span class="b-title">Antidote</span><br><br>
                    <span class="b-title"> Vendor </span>
                    {% endif %}
                <!-- </a> -->
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
            
                <ul class="nav pcoded-inner-navbar">
                {% if request.user.is_superuser %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                        <a href="/admin_dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                   <!--  <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li> -->
                   <!--  <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ui-button.html" class="">Button</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Badges</a></li>
                            <li class=""><a href="/ui-breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
                            <li class=""><a href="/ui-collapse.html" class="">Collapse</a></li>
                            <li class=""><a href="/ui-tabs.html" class="">Tabs & pills</a></li>
                            <li class=""><a href="/ui-typography.html" class="">Typography</a></li>


                            <li class=""><a href="/ui-icons.html" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li> -->
                    <!-- <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                        <a href="/ui-forms.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
                    </li> -->
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="/admin_dashboard/table" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Upload and Import Data</span></a>
                    </li>
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li data-username="Charts Morris" class="nav-item"><a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a></li>
                    <li data-username="Maps Google" class="nav-item"><a href="/maps-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li> -->
                    <!-- <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li> -->
                   <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link dropdown-submenu"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Vendor</span></a>
                        <ul class="pcoded-submenu" style="list-style-type:none;">
                           <li class=""><a href="/admin_dashboard/register" class="">Add Vendor</a></li> 
                            <li class=""><a href="/admin_dashboard/vendors" class="">All Vendor</a></li>
                            <li class=""><a href="/admin_dashboard/vendorscsv" class="">Vendor's CSV</a></li>
                        </ul>
                    </li>
                   <li data-username="Sample Page" class="nav-item"><a href="/admin_dashboard/patientList" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Patient History</span></a></li>

                   <!-- <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="/admin_dashboard/register" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Register</span></a>
                    </li> -->
                    {% else %}
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Import/Export</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a href="/dashboard/uploaded_csv" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Uploaded CSV</span></a>
                    </li>
                    <li data-username="Sample Page" class="nav-item"><a href="/sitedrilldown/data/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Chart</span></a></li>
                    <li class="nav-item">
                        <a href="/dashboard/patient-by-filter" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Patient by provider</span></a>
                    </li>
                    {% endif %}
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href={% url 'logout' %} class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
$( ".dropdown-submenu" ).click(function() {
    $("ul.pcoded-submenu").toggle();
});
</script>
