
    <!-- Required Js -->
    <script src="/static/PowerBI/js/vendor-all.min.js"></script>
    <script src="/static/PowerBI/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/PowerBI/js/pcoded.min.js"></script>
