{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                                {% if msg %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                            <li>{{ msg }}</li>
                                        </ul>
                                    </div>
                                
                                {% endif %}
                                <div class="upload-div-custom">          
                    <form role="form" method="post">

                        {% csrf_token %}                   

                        <div class="input-group mb-3">
                            {{ form.username }}
                        </div>
                        
                        <div class="input-group mb-4">
                            {{ form.password }}
                        </div>
                        
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Save Details</label>
                            </div>
                        </div>
                        <button type="submit" name="login" class="upload-btn-custom">Login</button>

                    </form>
                    </div>

                    <p class="mb-0 text-muted not-account">Don’t have an account? <a href={% url 'register' %} >Signup</a></p>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
