{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>
                                {% if msg %}
                                
                                    <div class="alert alert-danger">
                                        <ul style="list-style-type:none;">
                                            <li>{{ msg }}</li>
                                        </ul>
                                    </div>
                                
                                {% endif %}

                    <br />
                    <div class="upload-div-custom">
                    <form role="form" method="post" action="">

                        {% csrf_token %}                    

                        <div class="input-group">
                            {{ form.username }}
                        </div>
                        <!-- {% if form.username.errors %}
                        <span class="text-error">{{ form.username.errors }}</span>
                        {% endif %} -->
                        <div class="input-group">
                            {{ form.email }}
                        </div>
                        <!-- <span class="text-error">{{ form.email.errors }}</span> -->

                        <div class="input-group">
                            {{ form.password1 }}
                        </div>
                        <!-- <span class="text-error">{{ form.password1.errors }}</span> -->

                        <div class="input-group">
                            {{ form.password2 }}
                        </div>
                        <!-- <span class="text-error">{{ form.password2.errors }}</span> -->

                        <div class="input-group">
                            {{ form.role }}
                        </div>
                        <!-- <span class="text-error">{{ form.role.errors }}</span> -->
                        
                        <!-- <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Agree with <a href="#">terms</a></label>
                            </div>
                        </div> -->
                        <button type="submit" name="register" class="upload-btn-custom">Register</button>

                    </form>
                    </div>

                    <!-- <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p> -->
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
